<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Windows Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Extern User</th>
          <th scope="col">Super User</th>
          <th scope="col">Registered Date</th>
          <th scope="col">Updated date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th>{{user.FirstName}}</th>
          <td>{{user.LastName}}</td>
          <td>{{user.WindowsName}}</td>
          <td>{{user.Gender}}</td>
          <td>{{user.IsExtern}}</td>
          <td>{{user.IsSuperUser}}</td>
          <td>{{user.RegisteredDate | date}}</td>
          <td>{{user.Updated | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>